* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --font-heading: #0d1111;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ======= Common ======= */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    /* Cách mỗi lề trái phải 24px */
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: var(--font-heading);
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16; /* 116.129% */
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33; /* 133.333% */
}

.heading.lv3 {
    color: #0d1111;
    font-size: 2.2rem;
}

.desc {
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.6875; /* 168.75% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.word-break-all {
    word-break: break-all;
}

/* ===== Header ===== */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -45px; /* 12 - 57 */
    padding-bottom: 15px;
    z-index: 1;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.header .body {
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
}

.header .body .list {
    width: 446px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .list .item.active {
    font-weight: 600;
}

.header .body .list a {
    color: #2f3a3b;
    font-size: 1.6rem;
}

.header .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .action .action-btn:first-child {
    margin-right: 24px;
    color: #494949;
    font-size: 1.6rem;
}

.header .action .action-btn:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 48px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
}

/* ===== Hero ===== */
.hero .body {
    display: flex;
}

/* === Hero left === */
.hero .content-block {
    width: 51%;
}

.hero .heading::before {
    margin: 149px 0 18px 0;
    display: block;
    content: "😎 EASY LEAENING PLATFORM";
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .content-block .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}

.hero .content-block .hero-cta {
    margin: 52px 50px 0 0;
    min-width: 186px;
    height: 68px;
    border: none;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .content-block .hero-cta a {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .button-group .play-button {
    width: 62px;
    height: 62px;
    border: none;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 1px #f7f7f7;
}

/* === Hero right === */
.hero .media-block {
    position: relative;
    margin-top: 62px;
}

.hero .media-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    margin-bottom: 0 136px 79px 0;
    margin-bottom: 209px;
}

.hero-summary .item .desc {
    color: #0d1111;
    font-size: 0.8rem;
    font-weight: 500;
}

/* = Item 1 = */
.hero-summary .item:first-child {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    width: 157px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item .layout-1 {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 40px;
    margin: 17px 16px 18px 0;
    background: #ff8282;
    border-radius: 5px 2px 2px 5px;
}

.hero-summary .item .layout-1-1 {
    position: absolute;
    width: 77.8%;
    height: 4px;
    border-radius: 999px;
    background: #fff;
    bottom: 8px;
    left: 4px;
}

/* = Item 2 = */
.hero-summary .item:nth-child(2) {
    position: absolute;
    top: 453px;
    left: -65px;
    padding: 16px 25px 0;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item:nth-child(2) .desc {
    text-align: center;
}

.hero-summary .item:nth-child(2) .layout-2-1 {
    position: relative;
    margin-top: 16px;
    width: 74px;
    height: 6px;
    border-radius: 999px;
    background: #edf1f5;
}

.hero-summary .item:nth-child(2) .layout-2-1-1 {
    position: absolute;
    width: 40px;
    height: 6px;
    border-radius: 99px;
    background: #fb9899;
}

.hero-summary .item:nth-child(2) .layout-2-1-2 {
    position: absolute;
    width: 62%;
    height: 6px;
    border-radius: 99px;
    background: #fb9899;
}

.hero-summary .item:nth-child(2) .layout-2-1-3 {
    position: absolute;
    width: 31.87%;
    height: 6px;
    border-radius: 99px;
    background: #fb9899;
}

.hero-summary .item:nth-child(2) .layout-2-2 {
    margin: 16px auto 0 auto;
    width: 26px;
    height: 6px;
    border-radius: 999px;
    background: #edf1f5;
}

/* = Item 3 = */
.hero-summary .item:last-child {
    position: absolute;
    top: 500px;
    right: 45px;
    padding: 17px 35px;
    display: flex;
    flex-direction: column;
    width: 207px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item:last-child .avatar-group {
    display: flex;
    margin-top: 8px;
}

.hero-summary .item:last-child .avatar {
    display: flex;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}

/* ===== Features ===== */
/* === Features top === */
.features .features-top {
    width: 591px;
}

.features .main-content .page-separator {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .main-content .heading {
    padding: 18px 0;
}

.features .main-content .desc {
    color: #767e7e;
    font-size: 1.7rem;
    margin-bottom: 80px;
}

/* === Features bottom === */
.features .features-bottom {
    width: 1024px;
    display: flex;
    gap: 150px;
}

.features .features-bottom .item {
    width: 33.33%;
}

.features-bottom .item .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features-bottom .item .desc {
    margin: 16px 0 130px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.6875; /* 168.75% */
}

/* ===== Courses ===== */
.courses .sub-heading .page-separator {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 18px;
}

.courses .sub-heading .head-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .sub-heading .head-info .desc {
    width: 525px;
    margin: 19px 0;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}

.courses .sub-heading .head-info .link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses .course-group {
    display: flex;
    gap: 47px;
    margin-left: -1px;
}

.course-group__item:hover .img {
    opacity: 0.7;
}

.courses .course-group .item {
    position: relative;
    flex: 1;
    margin-bottom: 389px;
    transition: 0.25s;
}

.item:hover {
    transform: translateY(-10px);
}

.courses .course-group .item .img {
    margin-top: 60px;
    display: inline-block;
    border-radius: 8px;
    opacity: 0.5;
    background: #d0efed;
    width: 359px;
    height: 393px;
    object-fit: cover;
}

.courses .course-group .main-info {
    position: absolute;
    top: 322px;
    left: 17px;
    right: 17px;
    width: 325px;
    height: 195px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-group .item .price {
    margin: 16px 0 6px;
    color: #767e7e;
    font-size: 1.6rem;
}

.course-group .item .desc {
    color: #9da6a5;
    font-size: 1.3rem;
}

.course-group .item .info {
    margin-top: 18px;
    display: flex;
}

.course-group .item .empty {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.course-group .item .empty::before {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
    margin-right: 10px;
}

.course-group .item .time {
    display: flex;
    align-items: center;
}

.course-group .item .time::before {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
    margin-right: 10px;
}

/* ===== Stance ===== */
.stance .body {
    display: flex;
    justify-content: space-around;
}

.stance .body strong {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.stance .body .desc {
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
}

/* ===== Guide ===== */
.guide {
    margin-top: 264px;
}

.guide .body {
    display: flex;
}

.guide .advise-group .advise {
    width: 419px;
}

.guide .advise .icon {
    margin: 37px 0 27px;
}

.guide .advise .desc {
    color: #5d6564;
    font-size: 3rem;
    line-height: 1.5; /* 150% */
    margin-bottom: 33px;
}

.guide .advise .author {
    margin-left: 11px;
    position: relative;
    color: #767e7e;
    font-size: 1.6rem;
}

.guide .advise .author::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    top: 50%;
    left: -11px;
    background: #070707;
    transform: translateY(-50%);
}

.guide .advise .author strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.guide .action {
    display: flex;
    margin: 52px 0 37px;
    width: 130px;
    justify-content: space-between;
}

.guide .action .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2ac9bf;
}

/* === Avatar group === */
.guide .avatar-group {
    position: relative;
    width: 100%;
}

.guide .avatar-group .avatar {
    position: absolute;
    display: inline-block;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.guide .avatar-group .avatar:first-child {
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
    bottom: 139px;
    left: 345px;
}

.guide .avatar-group .avatar:nth-child(2) {
    width: 92px;
    height: 92px;
    top: 0;
    left: 216px;
}

.guide .avatar-group .avatar:nth-child(3) {
    top: 258px;
    left: 72px;
}

.guide .avatar-group .avatar:nth-child(4) {
    bottom: 0;
    left: 284px;
}

.guide .avatar-group .avatar:nth-child(5) {
    top: 374px;
    right: 32px;
    bottom: 29px;
    left: 641px;
}

.guide .avatar-group .avatar:last-child {
    width: 110px;
    height: 110px;
    top: 19px;
    right: 0;
}

/* ===== CTA ===== */
.cta {
    margin-top: 130px;
    background: #def6f5;
}

.cta .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta .body .info {
    margin: 78px 0 88px;
}

.cta .body .info .heading {
    color: #070707;
}

.cta .body .info .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}

.cta .body .btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px 154px 0 0;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #2ac9bf;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ===== Footer ===== */
.footer {
    padding-top: 130px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.footer .row .column {
    width: 20%;
}

.footer .row .column .list li {
    margin-bottom: 20px;
}

.footer .row .column .list li:last-child {
    margin-bottom: 0;
}

.footer .row .column:last-child .list li {
    position: relative;
}

.footer .row .column:last-child .list .name-logo {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}

.footer .column .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.footer .column .list a {
    color: #535353;
    font-size: 1.6rem;
}

.footer .copy-right {
    text-align: center;
    margin-bottom: 50px;
}

.footer .copy-right p {
    color: #b0b5b4;
    font-size: 1.8rem;
}
